/* 
    GENERICS
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: auto auto;
  background-color: #daa520;
  justify-content: space-between;
  align-items: center;
}

header {
  height: 60px;
  background-color: #add8e6;
}

.logo,
.login,
li {
  padding: 10px;
}

ul {
  list-style: none;
  width: 100%;
  justify-content: center;
}
/* 
    IMG - BG
*/

.img-bg {
  background-color: #00008b;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.box-pink {
  width: 700px;
  height: 300px;
  background-color: #ee82ee;
}

/* 
    UTILITIS
*/
.wrap {
  flex-wrap: wrap;
}
.debug {
  border: 2px dashed black;
}

.flex {
  display: flex;
}

.login {
  width: 20%;
  justify-content: end;
}

.logo {
  width: 20%;
}
